[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
openai = "==0.28"
aiohttp = "*"
aiodns = "*"
pip = "*"
install = "*"
pytelegrambotapi = "*"
aiogram = "==2.23.1"
orjson = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
transliterate = "*"
apscheduler = "*"
apidevtools = {extras = ["logman"], version = "*"}
loguru = "*"
#cchardet = "*"
#uvloop = "*"

[dev-packages]

[requires]
python_version = "3.10"
